# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, extract and import `Orders` dataset into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
# your code here
orders = pd.read_csv("./orders.csv")
orders.head(5)

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [3]:
# your code here
#sub1
quant_order=orders.groupby(["CustomerID"]).agg({"amount_spent" :"sum"})
 
#sub2                         
#quant_order["quantile_pos"] = pd.qcut(quant_order["amount_spent"], q=4, labels = False)# q =4 here is the quartile "given quantile"

#sub3. if we decide vip are at 0.95 quantile then we take vip at 19th ventile with q= 20

quant_order["quantile_pos"] = pd.qcut(quant_order["amount_spent"], q=20, labels = False)
quant_order[quant_order["quantile_pos"]>=19]
quant_order["Vip"] = quant_order["quantile_pos"]>=19
quant_order["prefered"] = (quant_order["quantile_pos"]>=15) & (quant_order["quantile_pos"]<19)

order2 = pd.merge(orders,quant_order, on="CustomerID")
order2

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent_x,amount_spent_y,quantile_pos,Vip,prefered
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,5391.21,18,False,True
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,5391.21,18,False,True
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,5391.21,18,False,True
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,5391.21,18,False,True
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,5391.21,18,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397919,541801,581578,22993,2011,12,5,12,set of 4 pantry jelly moulds,12,2011-12-09 12:16:00,1.25,12713,Germany,15.00,848.55,11,False,False
397920,541802,581578,22907,2011,12,5,12,pack of 20 napkins pantry design,12,2011-12-09 12:16:00,0.85,12713,Germany,10.20,848.55,11,False,False
397921,541803,581578,22908,2011,12,5,12,pack of 20 napkins red apples,12,2011-12-09 12:16:00,0.85,12713,Germany,10.20,848.55,11,False,False
397922,541804,581578,23215,2011,12,5,12,jingle bell heart antique silver,12,2011-12-09 12:16:00,2.08,12713,Germany,24.96,848.55,11,False,False
397923,541805,581578,22736,2011,12,5,12,ribbon reel making snowmen,10,2011-12-09 12:16:00,1.65,12713,Germany,16.50,848.55,11,False,False

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [19]:
# your code here
order2.groupby(["Vip","Country"]).agg({"amount_spent_y" :"sum", "Vip" : "count"})
order2["Vip"].value_counts()
order2[order2["Vip"]==True].groupby(["Country"]).agg({"amount_spent_y" :"sum", "Vip" : "count"})

                 amount_spent_y    Vip
Country
Australia          9.061952e+07    898
Belgium            3.503223e+05     54
Channel Islands    2.961875e+06    364
Cyprus             1.580400e+06    248
Denmark            2.818760e+05     36
EIRE               9.808263e+08   7077
Finland            2.339199e+06    294
France             3.787897e+07   3290
Germany            3.335796e+07   3127
Japan              4.277406e+06    205
Netherlands        5.828285e+08   2080
Norway             5.617865e+06    420
Portugal           5.081769e+06    681
Singapore          4.724002e+06    222
Spain              6.801016e+06    511
Sweden             6.317550e+06    198
Switzerland        5.218700e+06    594
United Kingdom     2.197546e+09  84185

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [31]:
# your code here
# creating combined column 
order2["Combined"]= (order2["Vip"]== True) | (order2["prefered"] == True)
 
order2[order2["Combined"] == True ].groupby(["Country"]).agg({"Combined" : "count"})

                      Combined
Country
Australia                 1185
Austria                    398
Bahrain                     17
Belgium                   2031
Brazil                      32
Canada                     151
Channel Islands            748
Cyprus                     614
Czech Republic              25
Denmark                    380
EIRE                      7238
European Community          60
Finland                    685
France                    8342
Germany                   9042
Greece                     145
Iceland                    182
Israel                     248
Italy                      758
Japan                      321
Lebanon                     45
Lithuania                   35
Malta                      112
Netherlands               2363
Norway                    1072
Poland                     330
Portugal                  1462
RSA                         58
Saudi Arabia                 9
Singapore                  222
Spain                     2485
Sweden                     451
Switzerland               1842
USA                        179
United Arab Emirates        68
United Kingdom          354345
Unspecified                244