# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [114]:
# import libraries
import numpy as np
import pandas as pd

#### Import data set.

Read the dataset `pokemon.csv` into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [115]:
# import dataset
pokemon = pd.read_csv("./pokemon.csv")

#### Print first 10 rows of `pokemon`.

In [116]:
# your code here
pokemon.head(10)
print(pokemon.columns)

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [117]:
# your code here
type_array = pokemon[["Type 1","Type 2"]]
type_array

      Type 1  Type 2
0      Grass  Poison
1      Grass  Poison
2      Grass  Poison
3      Grass  Poison
4       Fire     NaN
..       ...     ...
795     Rock   Fairy
796     Rock   Fairy
797  Psychic   Ghost
798  Psychic    Dark
799     Fire   Water

[800 rows x 2 columns]

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [118]:
#apply here

import re


txt1 ="VenusaurMega Venusaur"
if re.search("Mega", txt1):
   
    txt1 = re.sub("^.*Mega ","Mega ", txt1)
    
    print("ok")
txt1

ok

'Mega Venusaur'

In [120]:


# your code here

def replace_mega(txt):
    if re.search("Mega", txt):
        txt = re.sub("^.*Mega ","Mega ", txt)
        return txt
        
       
    else :
        txt = txt
        return txt
       

pokemon["Name"] = pokemon["Name"].apply(replace_mega)     


    
    




# test transformed data
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,Mega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

#### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [121]:
# your code here
pokemon ["A/D Ratio"] = (pokemon["Attack"]/pokemon["Defense"]).round(2)
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.00
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.98
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.99
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.81
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.21
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,1.10
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,1.08
7,6,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,1.17
8,6,Mega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,1.33
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False,0.74

#### Identify the pokemon with the highest `A/D Ratio`.

In [122]:
# your code here
best_pokemon = pokemon[pokemon['A/D Ratio']==pokemon['A/D Ratio'].max()].index
print(best_pokemon)

Int64Index([429], dtype='int64')

#### Identify the pokemon with the lowest A/D Ratio.

In [123]:
# your code here
worst_pokemon = pokemon[pokemon['A/D Ratio']==pokemon['A/D Ratio'].min()]["Name"]
print(worst_pokemon) # jose, which answer do you prefer, min or max ?

230    Shuckle
Name: Name, dtype: object

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [124]:
# your code here 


    
pokemon["Combo Type"] = np.where(pokemon["Type 2"].isnull(),pokemon["Type 1"], pokemon["Type 1"] + "-" + pokemon["Type 2"])
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.00,Grass-Poison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.98,Grass-Poison
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.99,Grass-Poison
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.81,Grass-Poison
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.21,Fire
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,1.10,Fire
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,1.08,Fire-Flying
7,6,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,1.17,Fire-Dragon
8,6,Mega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,1.33,Fire-Flying
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False,0.74,Water

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [125]:
# your code here
#pokemon.sort_values(by=["A/D Ratio"], ascending=False)
top_5_ratio = pokemon["A/D Ratio"].nlargest(5)
print(top_5_ratio)

429    9.00
347    4.50
19     3.75
453    3.12
348    3.00
Name: A/D Ratio, dtype: float64

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [126]:
# your code here . please explain me this top 5 thing better, not sure i 

group_by_c = pokemon.groupby(["Combo Type"]).agg({"A/D Ratio" : "sum"})
group_by_c_2 = group_by_c["A/D Ratio"].nlargest(5)

list_top = group_by_c_2.values.tolist()
print(list_top)

[74.79, 63.929999999999986, 44.239999999999995, 38.94, 35.75]

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

In [102]:
# your code here. probably not good but that top 5 thing is messing with my head
pokemon.groupby(["Combo Type"]).agg({'#': "mean", "A/D Ratio" : "mean","Total" : "mean","HP" :"mean","Attack" : "mean", "Defense" : "mean","Sp. Atk" : "mean",'Sp. Def': "mean", 'Speed': "mean", 'Generation': "mean", 'Legendary': "mean"})

,#,A/D Ratio,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Combo Type,,,,,,,,,,,
Bug,361.352941,0.941176,289.705882,53.058824,50.352941,55.411765,39.294118,43.647059,47.941176,3.470588,0.0
Bug-Electric,595.500000,1.110000,395.500000,60.000000,62.000000,55.000000,77.000000,55.000000,86.500000,5.000000,0.0
Bug-Fighting,214.000000,1.640000,550.000000,80.000000,155.000000,95.000000,40.000000,100.000000,80.000000,2.000000,0.0
Bug-Fire,636.500000,1.235000,455.000000,70.000000,72.500000,60.000000,92.500000,80.000000,80.000000,5.000000,0.0
Bug-Flying,286.285714,1.145714,419.500000,63.000000,70.142857,61.571429,72.857143,69.071429,82.857143,2.857143,0.0
...,...,...,...,...,...,...,...,...,...,...,...
Water-Ice,103.000000,0.823333,511.666667,90.000000,83.333333,113.333333,80.000000,78.333333,66.666667,1.000000,0.0
Water-Poison,118.666667,1.163333,426.666667,61.666667,68.333333,58.333333,61.666667,91.666667,85.000000,1.333333,0.0
Water-Psychic,111.800000,0.784000,481.000000,87.000000,73.000000,104.000000,94.000000,79.000000,44.000000,1.200000,0.0
Water-Rock,430.000000,0.727500,428.750000,70.750000,82.750000,112.750000,61.500000,65.000000,36.000000,3.750000,0.0
Water-Steel,395.000000,0.980000,530.000000,84.000000,86.000000,88.000000,111.000000,101.000000,60.000000,4.000000,0.0